
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="assets\lil.jpeg" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active text-white" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
              <a class="nav-link text-white" routerLink="/services" routerLinkActive="active">Services</a>
              <a class="nav-link text-white" routerLink="/portofolio" routerLinkActive="">portofolio</a>
              <a class="nav-link text-white" routerLink="/team" routerLinkActive="active">Team</a>
              <a class="nav-link text-white" routerLink="/contact" routerLinkActive="acctive">Contact</a>
  
            </div>
          </div>
        </div>
      </nav>
      <div class="container"></div>
